body{
    font-family: 'Staatliches', cursive;
    /* background-color: rgb(77, 75, 74); */
    scroll-behavior: smooth;
}
#topbar{
    text-align: center;
    background: rgb(44, 42, 42);
    height: 25px;
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.distance{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500px;
}
.distance:hover{
    background-color: rgb(34, 30, 25);
    border-radius: 10px;
}
#product_heading{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
    font-weight: bolder;
    color: whitesmoke;
}

#product_heading:hover{
    color: rgb(179, 160, 160);
    font-weight: bolder;
}

#product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#container{
    background-color: rgb(75, 72, 72);
    background-image: url("imgs/bg.jpg");
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.mycard{
    border-radius: 8px;
    width: 250px;
    padding: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgb(220, 223, 182);
}
.mycard:hover{
    border: 3px solid  rgb(48, 45, 45);
    background-color: rgb(48, 45, 45);
    color: whitesmoke;
}
.mycard h3{
    font-weight: bolder;
    color: rgb(128, 80, 22);
    text-align: center;
}
.mycard h3:hover{
    color: rgb(179, 53, 53);
}
.mycard a{
    text-decoration: none;
}
.mycard p{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#client_heading{
    text-align: center;
    margin: 30px;
    font-family: 'Roboto Slab', serif;
}

#client_heading h1:hover{
    color: rgb(46, 19, 19);
    font-weight: bolder;
}

#clients{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.client-logo{
    width: 80px;
    height: 80px;
    margin: 25px;
}
.client-logo:hover{
    width: 84px;
    height: 84px;
}

.container{
    background: rgb(253, 253, 253);
    border-radius: 20px;
}

#footer_top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    padding: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(58, 52, 52);;
    color: whitesmoke;
}

footer{
    background-color: rgb(48, 45, 45);
    color: whitesmoke;
    height: 80px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;

}